@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Outfit:wght@400;700&family=Rubik:wght@400;600&display=swap');
:root{
    font-family: "Montserrat","sans-serif";
    --brown:#F1A600;
    --dark:#1F1D2C;
    --mediumDark:#242635;
    --light:#E5E5E5;
    --white:#ffffff;
    font-size: 16px; 
    font-weight:400;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
    margin: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
.loading{
    position:fixed;
    top:0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: white;
    overflow: hidden;
    z-index: 20; 
}
.load{
    display: block;
    padding-top:25%;
    margin: auto;
    width:150px;
    height: 150px;
    animation: animationLoad infinite 2s;
    z-index: 21;
}
@keyframes animationLoad{
    0%{
        transform: translateY(20px);
    }
    50%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(20px);
    }
}
.navbar {
    background-color: #1F1D2C;
    color: #E5E5E5;
    height: 50px;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index:4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    background-color: #1F1D2C;
    position:fixed;
    color: var(--white);
    top: 1rem;
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transform: translateX(-250%);
    transition: transform 0.5s;
}
.menu-show {
    transform: translateX(-50%);
}


.bxmenu {
    position:absolute;
    font-size: 3rem;
    cursor: pointer;
}

.menu-bx_home{
    color: var(--brown);
}
.menu__button:hover{
    color: var(--brown);
}

.year__about{
    text-align: center;
    
}

.img__about{
    display: block;
    width: 122px;
    height: 122px;
}
section{
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:var(--light);
}
h1{
    font-weight:600;
    font-size:50px;
    padding: 1rem;
    z-index: 1;
}
.description{
    font-size:20px;
    text-align:center;
    width: 290px;
    padding: 1rem;
    z-index: 1;
}
.me__movil{
    padding-left: 7rem;
    padding-right: 7rem;
    padding-bottom: 1rem;
    z-index: 1;
}
.me__desk{
    display: none;
}
.experNumber{
    color: var(--brown);
    z-index: 1;
}
.exper{
    z-index: 1;
}
.social{
    padding: 1.5rem;
    display: flex;
    width: 150px;
    justify-content: space-around;
}
.subtitle__4{
    padding:0.5rem;
    text-align: center;
    font-size: 18px;
    font-weight:600;
}
.subtitle__3{
    display: flex;
    align-items: center;
    font-size:18px;
    font-weight:600;
    z-index:1;
}
.subtitle__2{
    z-index:1;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size:32px;
    font-weight:600; 
}

.vectorOne{
    position:absolute;
    top: 0;
    right: 0;
    margin:0;
    z-index:0;
}
.vectorTwo{
    position:absolute;
    z-index:0;
    left: 0;
}


.aboutMi{
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight:600;
    text-align: center;
    max-width: 800px;
}
.experience{
    padding-top: 3rem;
    display: grid;
    gap: 1rem;
    grid-template: 100px 100px 100px / 80px 140px 80px;
    
}
.box--experience{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.experience__icon{
    display: block;
    margin: auto;
}
.briefcase__img{
    padding-bottom: 3rem;
}
.briefcase__img1{
  z-index: 0;
  position:absolute;
}

.briefcase__img2{
  position:relative;
  width:calc(100%-300px); 
  height:calc(100%-300px); 
  z-index: 2;
  padding-top:1.3rem;
  padding-left:1rem;
  padding-right:1rem;
  transition: transform 300ms ease;
  
}
.briefcase__img2:hover{
    transform:scale(1.1)
}
.skill{
    padding-top: 3rem;
    display: grid;
    gap: 1rem;
    grid-template:repeat(5,60px) / 90px 200px ;
    z-index:1;

}
 .percentage__skill{
    display: flex;
    color: var(--brown);
    font-size: 32px;
    font-weight:600;
    align-items: center;
}
.type__skill{
    display: flex;
    font-size: 18px;
    font-weight:600;
    align-items: center;
}

.type__contact{
    margin:1rem;
    font-size: 18px;
    font-weight:600;
}

.item:nth-child(1){
    padding-top: 30px;
    background-color:var(--dark);
    
}
.item:nth-child(2){
    padding-top: 2rem;
    padding-bottom:2rem;
    background-color:var(--mediumDark);
    justify-content: space-around;
    
}
.item:nth-child(3){
    background-color:var(--dark);
    
}
.item:nth-child(4){
    background-color:var(--dark);
    
}
.item:nth-child(5){
    padding-top: 30px;
    background-color:var(--dark);

    
}
.item:nth-child(6){
    padding-top: 2rem;
    padding-bottom:2rem;
    background-color:var(--mediumDark);
    justify-content: space-around;
    text-align: center;
}
.item__home .imag1{
justify-content: flex-end;
}

.container__briefcase{
    padding-top: 2rem;
}
footer{
    display: flex;
    background-color: var(--mediumDark);
    color: var(--light);
    align-items: center;
    justify-content: center;
    height: 150px;
    font-weight:600; 
}
.vectorOne__2{
    display: none;
}
.vectorTwo__2{
    display: none;
}
.social2{
    display: none;
 }
@media (min-width: 900px) {
    .bxmenu {
        display: none;
    }
    h1{
        font-size:80px;
        padding: 1rem;
        z-index: 1;
    }
    h2 {
        font-size:40px;  
    }

    .menu {
        position: fixed;
        min-width: 900px;
        height: auto;
        flex-direction: row;
        justify-content: space-between;
        transform: translateX(0);
        gap: 1rem;
    }
    .item:nth-child(1){
        display:grid;
        grid-template: 100px repeat(3,100px) / 450px 450px ;
        height: cal(100vh -30px);
        justify-content:center;
        align-content:center;
    }
    .name{
        grid-row-start: 1;
    }
    .me__movil{
        display: none;
    }
    .me__desk{
        display:inline;
        z-index: 2;
        grid-area:1/2/6/2;
    }
    .experNumber{
        grid-column-start:1;
        grid-row-start: 3; 
        padding-left: 1.5rem;
    }
    .exper{
        padding-left: 1.5rem;
        grid-row-start: 3; 
        grid-column-start:1;
    }
    .description{
        text-align:start;
        padding-left: 1.5rem;
        width: 390px;
        grid-row-start: 2; 
        font-size:24px;
    }

    .about__year{
        display: flex;
        flex-direction: row;
        min-width: 600px;
        justify-content: space-between;
        }
    .experience{
            grid-template: 100px 100px 100px / 250px 250px 220px;
            
    }
    .skill{
        grid-template:repeat(5,60px) / 240px 350px ;
    
    }
    .subtitle__2{
        font-size:40px; 
    }
    .container__briefcase{
        max-width: 800px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .container__contact{
        min-width: 700px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    footer{
        background-color: var(--dark);
    }
    .social{
       display: none;
    }
    .social2{
        display: inline;
     }
    .social2{
        display: flex;
        width: 300px;
        justify-content: space-around;
    }
    .item__exper{
       
        font-size:24px;
        
    }
   
    .vectorOne__2{
        display:inline;
        position:absolute;
        top:0;
        right: 0;
        margin:0;
        z-index:0;
    }
    .vectorTwo{
        display: none;
    }
    .vectorTwo__2{
        display: inline;
        position:absolute;
        z-index:0;
        left: 0;
    }
    
}
